<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="xacro '$(find lab3_sub_pub)/urdf/robot.urdf.xacro'"/>
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui"/> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="world_broadcast2" args="1 0 0 0 0 0 1 world base_footprint" /> -->
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
